<button 
  [type]="type"
  [class]="class"
  (click)="onClick()"
>
  <img [src]="iconUrl" [alt]="label + 'icon'" loading="lazy" class="w-full h-full min-w-24px max-w-24px min-h-24px max-h-24px">
  <p class="text-center text-f12-l18 text-white font-semibold">{{ label }}</p>
</button>