:host {
  width: 100%;
  height: 100%;
}

.grid-container {
  display: grid;
  grid-template-areas:  
    'header header header header'
    'main main main main';
}

.item-1 {
  grid-area: header;
}

.item-2 {
  grid-area: menu;
}

.item-3 {
  grid-area: main;
}

@media screen and (min-width: 768px) {
  .grid-container {
    grid-template-areas:  
      'menu header header header'
      'menu main main main';
  }
}