<div class="w-full h-full grid-container">
  <header class="item-1 w-full h-full min-h-64px max-h-64px shadow-elevation1 bg-primary md:bg-white flex items-center justify-between fixed top-0 left-0 right-0 px-20px md:pl-340px md:pr-20px">
    <div class="w-full h-auto flex items-center justify-start gap-20px">
      <button type="button" class="w-full h-full min-w-24px max-w-24px min-h-24px max-h-24px focus-within:outline-none focus:outline-none md:hidden" (click)="toggleSideBar()">
        <img src="/assets/img/svg/menu-white-24.svg" alt="Menu icon" loading="lazy" class="w-full h-full min-w-24px max-w-24px min-h-24px max-h-24px">
      </button>
      <p class="text-left text-f16-l24 text-white md:text-black font-bold line-clamp-1">Employee Management App</p>
    </div>
  </header>
  <aside 
    class="item-2 z-40 md:z-unset fixed md:left-0 top-0 bottom-0 w-full h-full max-h-100vh md:min-w-320px md:max-w-320px overflow-hidden shadow-elevation1 bg-white md:bg-primary flex flex-col items-start justify-start ease-linear duration-150 md:duration-unset md:ease-unset"
    [class]="showSideBar ? 'left-0' : '-left-100% md:w-full'"
  >
    <div class="w-full h-full min-h-64px max-h-64px shadow-elevation1 md:shadow-unset md:border-b-1px md:border-white flex items-center justify-between md:justify-end px-20px">
      <p class="text-left text-f16-l24 text-black md:text-black font-bold line-clamp-1 md:hidden">Employee Management App</p>
      <button type="button" class="w-full h-full min-w-24px max-w-24px min-h-24px max-h-24px md:hidden" (click)="toggleSideBar()">
        <img src="/assets/img/svg/close-black-24.svg" alt="Close icon" loading="lazy" class="w-full h-full min-w-24px max-w-24px min-h-24px max-h-24px md:hidden">
      </button>
    </div>
    <div class="w-full h-full max-h-100vh overflow-y-auto p-20px flex flex-col items-start justify-start gap-10px">
      <button type="button" class="w-full h-auto flex items-center justify-start gap-10px px-20px py-10px bg-primary md:bg-tertiary md:bg-opacity-50 rounded-8px shadow-elevation1 text-f12-l18 font-semibold text-white focus:outline-none focus-within:outline-none" (click)="navigateTo('/')">
        <img src="/assets/img/svg/account-circle-white-24.svg" alt="Account circle icon" loading="lazy" class="w-full h-full min-w-24px max-w-24px min-h-24px max-h-24px">
        <p>Dashboard</p>
      </button>
      <div class="flex-shrink flex-grow"></div>
      <button type="button" class="w-full h-full min-h-44px max-h-44px bg-danger rounded-8px shadow-elevation1 text-white text-f12-l18 font-semibold px-20px" (click)="toggleLogoutConfirmationModalBox()">
        Logout
      </button>
    </div>
  </aside>
  <div class="item-3 w-auto h-auto fixed left-0 top-66px right-0 bottom-0 md:left-320px">
    <div class="w-full h-full overflow-y-auto flex flex-col items-start justify-start">
      <main class="w-full h-auto">
        <div *ngIf="showSnackbar" class="p-20px">
          <app-snackbar [type]="snackbarType" [message]="snackbarMessage" (actionClose)="toggleShowSnackbar()"></app-snackbar>
        </div>
        <router-outlet></router-outlet>
      </main>
      <div class="flex-shrink flex-grow"></div>
      <footer class="w-full h-auto p-20px">
        <p class="text-center text-f12-l18 font-bold text-disabled">Copyright © Employee Management App - 2024</p>
      </footer>
    </div>
  </div>
</div>

<app-confirmation-modal-box
  *ngIf="showLogoutConfirmationModalBox"
  message="Are you sure you want to log out ?"
  cancelButtonLabel="No"
  confirmButtonLabel="Yes"
  [isLoadingConfirmAction]="logoutLoading"
  (cancel)="toggleLogoutConfirmationModalBox()"
  (confirm)="logout()"
></app-confirmation-modal-box>