<div class="fixed left-0 top-0 right-0 bottom-0 w-full h-full max-h-100vh overflow-y-auto bg-black bg-opacity-50 p-20px z-50">
  <div class="w-full h-full min-h-100vh flex items-center justify-center">
    <div class="w-full h-auto max-w-360px shadow-elevation1 p-20px rounded-8px bg-white flex flex-col items-center justify-center gap-20px">
      <p class="w-full max-w-153px text-center text-f16-l24 font-bold text-black">{{message}}</p>
      <div class="w-full h-auto flex items-center justify-between gap-10px">
        <app-button 
          [label]="cancelButtonLabel"
          [class]="
            isLoadingConfirmAction ? 
              'w-full h-full min-h-44px max-h-44px rounded-8px shadow-elevation1 text-f12-l18 font-semibold bg-disabled text-white cursor-not-allowed whitespace-nowrap flex items-center justify-center gap-2 px-4' 
              : 'w-full h-full min-h-44px max-h-44px rounded-8px shadow-elevation1 text-f12-l18 font-semibold bg-white border-1px border-primary text-primary cursor-pointer whitespace-nowrap flex items-center justify-center gap-2 px-4'
            " 
          [disabled]="isLoadingConfirmAction"
          (action)="onCancel()"
        />
        <app-button 
          [label]="confirmButtonLabel"
          [class]="
            isLoadingConfirmAction ? 
              'w-full h-full min-h-44px max-h-44px rounded-8px shadow-elevation1 text-f12-l18 font-semibold bg-disabled text-white cursor-not-allowed whitespace-nowrap flex items-center justify-center gap-2 px-4' 
              : 'w-full h-full min-h-44px max-h-44px rounded-8px shadow-elevation1 text-f12-l18 font-semibold bg-primary text-white cursor-pointer whitespace-nowrap flex items-center justify-center gap-2 px-4'
            " 
          [disabled]="isLoadingConfirmAction"
          [isLoading]="isLoadingConfirmAction"
          (action)="onConfirm()"
        />
      </div>
    </div>
  </div>
</div>