<div class="w-full h-auto px-10 py-5 border-t-1px flex flex-col items-start justify-start md:flex-row md:items-center md:justify-end gap-15px">
  <div class="w-full h-auto flex items-center justify-between md:justify-end gap-30px">
    <div class="w-auto h-auto flex items-center justify-start gap-10px">
      <p class="text-left text-f12-l18 text-black line-clamp-1">Rows per page</p>
      <select 
        class="text-center text-f12-l18 text-black line-clamp-1 border-1px border-primary rounded-8px px-1 py-2 focus-within:outline-none focus:outline-none"
        [formControl]="control"
        (change)="onChangeLimit()"
      >
        <option *ngFor="let limit of limitList" [value]="limit">{{ limit }}</option>
      </select>
    </div>
    <div class="w-auto h-auto">
      <p class="text-left text-f12-l18 text-black line-clamp-1">{{firstInPage}}-{{lastInPage}} of {{totalData}}</p>
    </div>
  </div>
  <div class="w-full md:w-auto h-auto flex items-center justify-between gap-10px">
    <button 
      type="button" 
      class="w-full h-full min-w-24px max-w-24px min-h-24px max-h-24px" 
      [class]="disabledFirstPageButton ? 'cursor-not-allowed' : 'cursor-pointer'"
      [disabled]="disabledFirstPageButton"
      (click)="firstPage()"
    >
      <img *ngIf="disabledFirstPageButton" src="/assets/img/svg/first-page-disabled-24.svg" alt="First page icon" loading="lazy" class="w-full h-full min-w-24px max-w-24px min-h-24px max-h-24px">
      <img *ngIf="!disabledFirstPageButton" src="/assets/img/svg/first-page-black-24.svg" alt="First page icon" loading="lazy" class="w-full h-full min-w-24px max-w-24px min-h-24px max-h-24px">
    </button>
    <button 
      type="button" 
      class="w-full h-full min-w-24px max-w-24px min-h-24px max-h-24px"
      [class]="disabledFirstPageButton ? 'cursor-not-allowed' : 'cursor-pointer'"
      [disabled]="disabledFirstPageButton" 
      (click)="toPage(-1)"
    >
      <img *ngIf="disabledFirstPageButton" src="/assets/img/svg/chevron-left-disabled-24.svg" alt="Chevron left icon" loading="lazy" class="w-full h-full min-w-24px max-w-24px min-h-24px max-h-24px">
      <img *ngIf="!disabledFirstPageButton" src="/assets/img/svg/chevron-left-black-24.svg" alt="Chevron left icon" loading="lazy" class="w-full h-full min-w-24px max-w-24px min-h-24px max-h-24px">
    </button>
    <button 
      type="button" 
      class="w-full h-full min-w-24px max-w-24px min-h-24px max-h-24px"
      [class]="disabledLastPageButton ? 'cursor-not-allowed' : 'cursor-pointer'"
      [disabled]="disabledLastPageButton"
      (click)="toPage(+1)"
    >
      <img *ngIf="disabledLastPageButton" src="/assets/img/svg/chevron-right-disabled-24.svg" alt="Chevron right icon" loading="lazy" class="w-full h-full min-w-24px max-w-24px min-h-24px max-h-24px">
      <img *ngIf="!disabledLastPageButton" src="/assets/img/svg/chevron-right-black-24.svg" alt="Chevron right icon" loading="lazy" class="w-full h-full min-w-24px max-w-24px min-h-24px max-h-24px">
    </button>
    <button 
      type="button" 
      class="w-full h-full min-w-24px max-w-24px min-h-24px max-h-24px"
      [class]="disabledLastPageButton ? 'cursor-not-allowed' : 'cursor-pointer'" 
      [disabled]="disabledLastPageButton"
      (click)="lastPage()"
    >
      <img *ngIf="disabledLastPageButton" src="/assets/img/svg/last-page-disabled-24.svg" alt="Last page icon" loading="lazy" class="w-full h-full min-w-24px max-w-24px min-h-24px max-h-24px">
      <img *ngIf="!disabledLastPageButton" src="/assets/img/svg/last-page-black-24.svg" alt="Last page icon" loading="lazy" class="w-full h-full min-w-24px max-w-24px min-h-24px max-h-24px">
    </button>
  </div>
</div>