<button 
  [type]="type"
  [class]="class"
  [disabled]="disabled"
  (click)="onClick()"
>
  <ng-container *ngIf="isLoading">
    <svg
      class="animate-spin min-w-18px max-w-18px min-h-18px max-h-18px text-white"
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
    >
      <circle
        class="opacity-25"
        cx="12"
        cy="12"
        r="10"
        stroke="#fff"
        stroke-width="4"
      ></circle>
      <path
        class="fill-white opacity-75"
        d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
      ></path>
    </svg>
    <p>Loading...</p>
  </ng-container>
  <p *ngIf="!isLoading">{{ label }}</p>
</button>