<div *ngIf="!isLoading" class="w-full h-full flex flex-col items-start justify-start gap-20px p-20px">
  <div class="w-full h-auto">
    <p class="text-left text-f20-l30 font-bold line-clamp-1 text-black">Add Employee</p>
  </div>
  <div class="w-full h-auto">
    <form class="w-full h-auto flex flex-col items-start justify-start gap-20px" [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="w-full h-auto flex flex-col items-start justify-start gap-15px">
        <div class="w-full h-auto flex flex-col items-start justify-start gap-1">
          <label for="username" class="font-semibold text-f12-l18 line-clamp-1">Username <span class="text-red-500">*</span></label>
          <input 
            id="username" 
            type="text" 
            class="w-full h-full min-h-44px max-h-44px rounded-8px border-1px border-primary px-4 text-f12-l18 focus:outline-none focus-within:outline-none" 
            placeholder="Input username..."
            formControlName="username"
          >
          <p 
            *ngIf="form.hasError('required', 'username') && form.controls['username'].dirty" 
            class="text-left text-f12-l18 text-red-500 line-clamp-1"
          >Username name is required</p>
        </div>
        <div class="w-full h-auto flex flex-col items-start justify-start gap-1">
          <label for="firstName" class="font-semibold text-f12-l18 line-clamp-1">First Name <span class="text-red-500">*</span></label>
          <input 
            id="firstName" 
            type="text" 
            class="w-full h-full min-h-44px max-h-44px rounded-8px border-1px border-primary px-4 text-f12-l18 focus:outline-none focus-within:outline-none" 
            placeholder="Input first name..."
            formControlName="firstName"
          >
          <p 
            *ngIf="form.hasError('required', 'firstName') && form.controls['firstName'].dirty" 
            class="text-left text-f12-l18 text-red-500 line-clamp-1"
          >First Name name is required</p>
        </div>
        <div class="w-full h-auto flex flex-col items-start justify-start gap-1">
          <label for="lastName" class="font-semibold text-f12-l18 line-clamp-1">Last Name <span class="text-red-500">*</span></label>
          <input 
            id="lastName" 
            type="text" 
            class="w-full h-full min-h-44px max-h-44px rounded-8px border-1px border-primary px-4 text-f12-l18 focus:outline-none focus-within:outline-none" 
            placeholder="Input last name..."
            formControlName="lastName"
          >
          <p 
            *ngIf="form.hasError('required', 'lastName') && form.controls['lastName'].dirty"
            class="text-left text-f12-l18 text-red-500 line-clamp-1"
          >Last name is required</p>
        </div>
        <div class="w-full h-auto flex flex-col items-start justify-start gap-1">
          <label for="email" class="font-semibold text-f12-l18 line-clamp-1">Email <span class="text-red-500">*</span></label>
          <input 
            id="email" 
            type="email" 
            class="w-full h-full min-h-44px max-h-44px rounded-8px border-1px border-primary px-4 text-f12-l18 focus:outline-none focus-within:outline-none" 
            placeholder="Input email..."
            formControlName="email"
          >
          <p 
            *ngIf="form.hasError('required', 'email') && form.controls['email'].dirty"
            class="text-left text-f12-l18 text-red-500 line-clamp-1"
          >Email is required</p>
          <p 
            *ngIf="form.hasError('email', 'email') && form.controls['email'].dirty"
            class="text-left text-f12-l18 text-red-500 line-clamp-1"
          >Email is invalid</p>
        </div>
        <div class="w-full h-auto flex flex-col items-start justify-start gap-1">
          <label for="birthDate" class="font-semibold text-f12-l18 line-clamp-1">Birth Date <span class="text-red-500">*</span></label>
          <input 
            id="birthDate" 
            type="date" 
            class="w-full h-full min-h-44px max-h-44px rounded-8px border-1px border-primary px-4 text-f12-l18 focus:outline-none focus-within:outline-none" 
            placeholder="Input birth date..."
            [max]="today"
            formControlName="birthDate"
          >
          <p 
            *ngIf="form.hasError('required', 'birthDate') && form.controls['birthDate'].dirty"
            class="text-left text-f12-l18 text-red-500 line-clamp-1"
          >Birth date is required</p>
        </div>
        <div class="w-full h-auto flex flex-col items-start justify-start gap-1">
          <label for="basicSalary" class="font-semibold text-f12-l18 line-clamp-1">Basic Salary <span class="text-red-500">*</span></label>
          <input 
            id="basicSalary" 
            type="number" 
            class="w-full h-full min-h-44px max-h-44px rounded-8px border-1px border-primary px-4 text-f12-l18 focus:outline-none focus-within:outline-none" 
            placeholder="Input basic salary..."
            formControlName="basicSalary"
          >
          <p 
            *ngIf="form.hasError('required', 'basicSalary') && form.controls['basicSalary'].dirty"
            class="text-left text-f12-l18 text-red-500 line-clamp-1"
          >Basic salary is required</p>
          <p 
            *ngIf="form.hasError('invalid', 'basicSalary') && form.controls['basicSalary'].dirty"
            class="text-left text-f12-l18 text-red-500 line-clamp-1"
          >Basic is invalid</p>
        </div>
        <div class="w-full h-auto flex flex-col items-start justify-start gap-1">
          <app-input-status
            [label]="'Status'"
            [isRequiredFlag]="true"
            (selectedOptionId)="onSelectedStatus($event)"
          ></app-input-status>
          <p 
            *ngIf="form.hasError('required', 'status') && form.controls['status'].dirty"
            class="text-left text-f12-l18 text-red-500 line-clamp-1"
          >Status is required</p>
        </div>
        <div class="w-full h-auto flex flex-col items-start justify-start gap-1">
          <app-input-group
            [id]="'group'"
            [label]="'Group'"
            [isRequiredFlag]="true"
            (selectedOptionId)="onSelectedGroup($event)"
          ></app-input-group>
          <p
            *ngIf="form.hasError('required', 'group') && form.controls['group'].dirty"
            class="text-left text-f12-l18 text-red-500 line-clamp-1"
          >Group is required</p>
        </div>
        <div class="w-full h-auto flex flex-col items-start justify-start gap-1">
          <label for="description" class="font-semibold text-f12-l18 line-clamp-1">Description <span class="text-red-500">*</span></label>
          <textarea 
            id="description"
            class="w-full h-full min-h-150px max-h-150px border-1px border-primary p-4 rounded-8px bg-white resize-none text-f12-l18 outline-none focus:outline-none focus-within:outline-none"
            placeholder="Input description..."
            formControlName="description"
          ></textarea>
          <p 
            *ngIf="form.hasError('required', 'description') && form.controls['description'].dirty"
            class="text-left text-f12-l18 text-red-500 line-clamp-1"
          >Description is required</p>
        </div>
      </div>
      <div class="w-full h-auto flex flex-col items-start justify-start gap-15px">
        <app-snackbar
          *ngIf="showSnackbar"
          [type]="snackbarType"
          [message]="snackbarMessage"
          (actionClose)="toggleShowSnackbar()"
        ></app-snackbar>
        <app-button 
          [label]="'Save'"
          [type]="'submit'"
          [disabled]="form.invalid || addEmployeeLoading"
          [isLoading]="addEmployeeLoading"
          [class]="form.invalid || addEmployeeLoading ? 'w-full h-full min-h-44px max-h-44px rounded-8px flex items-center justify-center gap-5px text-white font-semibold text-f12-l18 shadow-elevation1 bg-disabled cursor-not-allowed' : 'w-full h-full min-h-44px max-h-44px rounded-8px flex items-center justify-center gap-5px text-white font-semibold text-f12-l18 shadow-elevation1 bg-primary cursor-pointer'"
        />
        <app-button 
          [label]="'Cancel'"
          [type]="'button'"
          [class]="'w-full h-full min-h-44px max-h-44px rounded-8px bg-white border-1px border-primary shadow-elevation1 text-f12-l18 font-semibold text-primary'"
          [disabled]="addEmployeeLoading"
          (action)="cancelAddEmployee()"
        />
      </div>
    </form>
  </div>
</div>