<div class="w-full h-auto flex flex-col items-start justify-start gap-1">
  <label [for]="id" class="font-semibold text-f12-l18 line-clamp-1">{{label}} <span *ngIf="isRequiredFlag" class="text-red-500">*</span></label>
  <div class="w-full h-auto relative">
    <button
      [id]="id" 
      type="button"
      class="w-full h-full min-h-44px max-h-44px rounded-8px border-1px border-primary bg-white flex items-center justify-between gap-10px px-4"
      (click)="toggle()"
    >
      <p *ngIf="selectedOption && selectedOption.label" class="text-f12-l18 text-black line-clamp-1">{{ selectedOption.label }}</p>
      <p *ngIf="!selectedOption" class="text-f12-l18 text-black line-clamp-1">Choose group...</p>
      <img 
        src="/assets/img/svg/expand-more-black-24.svg" 
        loading="lazy" 
        class="w-full h-full min-w-24px max-w-24px min-h-24px max-h-24px transition-all duration-150" 
        [class]="isOpen ? 'rotate-180' : 'rotate-0'"
        alt="Expand more icon"
      >
    </button>
    <div 
      *ngIf="isOpen" 
      class="w-full h-auto absolute top-48px bg-white shadow-elevation1 rounded-8px z-30 flex flex-col items-start justify-start overflow-hidden"
      [appOutSideClick]="isOpen"
      (outSideClick)="isOpen = false"
    >
      <div class="w-full h-auto shadow-elevation1 flex items-center justify-start gap-10px px-4">
        <img src="/assets/img/svg/search-black-24.svg" loading="lazy" alt="Search icon">
        <input
          type="search"
          class="w-full h-full min-h-44px max-h-44px focus:outline-none focus-within:outline-none text-f12-l18 text-black"
          placeholder="Search group..."
          (input)="onChange($event)"
        >
      </div>
      <div class="w-full h-auto flex flex-col items-start justify-start min-h-150px max-h-150px overflow-y-auto">
        <ng-container *ngIf="filteredOptions.length > 0">
          <button 
            *ngFor="let option of filteredOptions"
            type="button"
            class="w-full h-full min-h-44px max-h-44px text-f12-l18 text-black line-clamp-1 flex items-center justify-start px-4 border-b-1px"
            (click)="onSelectOption(option)"
          >{{ option.label }}</button>
        </ng-container>
        <div *ngIf="filteredOptions.length < 1" class="w-full h-auto px-4 py-2">
          <p class="text-left text-f12-l18 text-black font-semibold">Data not found</p>
        </div>
      </div>
    </div>
  </div>
</div>