<div *ngIf="!isLoading" class="w-full h-full flex flex-col items-start justify-start gap-20px p-20px">
  <div class="w-full h-auto">
    <p class="text-left text-f20-l30 font-bold line-clamp-1 text-black">Detail Employee</p>
  </div>
  <div class="w-full h-full flex flex-col items-start justify-start gap-20px">
    <div class="w-full h-auto flex flex-col items-start justify-start gap-10px">
      <div class="w-full h-auto flex items-center justify-start gap-10px">
        <p class="w-full text-left text-f12-l18 text-black font-bold line-clamp-1 max-w-100px">Username</p>
        <p class="w-full text-left text-f12-l18 text-black line-clamp-1">{{ employeeData && employeeData.username || '-' }}</p>
      </div>
      <div class="w-full h-auto flex items-center justify-start gap-10px">
        <p class="w-full text-left text-f12-l18 text-black font-bold line-clamp-1 max-w-100px">First Name</p>
        <p class="w-full text-left text-f12-l18 text-black line-clamp-1">{{ employeeData && employeeData.firstName || '-' }}</p>
      </div>
      <div class="w-full h-auto flex items-center justify-start gap-10px">
        <p class="w-full text-left text-f12-l18 text-black font-bold line-clamp-1 max-w-100px">Last Name</p>
        <p class="w-full text-left text-f12-l18 text-black line-clamp-1">{{ employeeData && employeeData.lastName || '-' }}</p>
      </div>
      <div class="w-full h-auto flex items-center justify-start gap-10px">
        <p class="w-full text-left text-f12-l18 text-black font-bold line-clamp-1 max-w-100px">Email</p>
        <p class="w-full text-left text-f12-l18 text-black line-clamp-1">{{ employeeData && employeeData.email || '-' }}</p>
      </div>
      <div class="w-full h-auto flex items-center justify-start gap-10px">
        <p class="w-full text-left text-f12-l18 text-black font-bold line-clamp-1 max-w-100px">Birth Date</p>
        <p class="w-full text-left text-f12-l18 text-black line-clamp-1">{{ dateFormatter(employeeData && employeeData.birthDate) || '-' }}</p>
      </div>
      <div class="w-full h-auto flex items-center justify-start gap-10px">
        <p class="w-full text-left text-f12-l18 text-black font-bold line-clamp-1 max-w-100px">Basic Salary</p>
        <p class="w-full text-left text-f12-l18 text-black line-clamp-1">{{ salaryCurrencyFormatter(employeeData && employeeData.basicSalary) || '-' }}</p>
      </div>
      <div class="w-full h-auto flex items-center justify-start gap-10px">
        <p class="w-full text-left text-f12-l18 text-black font-bold line-clamp-1 max-w-100px">Status</p>
        <div class="w-full h-auto max-w-100px">
          <app-status-label [status]="employeeData && employeeData.status"></app-status-label>
        </div>
      </div>
      <div class="w-full h-auto flex items-center justify-start gap-10px">
        <p class="w-full text-left text-f12-l18 text-black font-bold line-clamp-1 max-w-100px">Group</p>
        <p class="w-full text-left text-f12-l18 text-black line-clamp-1">{{ employeeData && employeeData.group || '-' }}</p>
      </div>
      <div class="w-full h-auto flex items-start justify-start gap-10px">
        <p class="w-full text-left text-f12-l18 text-black font-bold line-clamp-1 max-w-100px">Description</p>
        <p class="w-full text-left text-f12-l18 text-black">{{ employeeData && employeeData.description || '-' }}</p>
      </div>
    </div>
  </div>
  <div class="w-full h-auto">
    <app-button
      [type]="'button'"
      [label]="'OK'"
      (action)="backToDashboard()"
    ></app-button>
  </div>
</div>