<div *ngIf="type === 'success'" class="w-full h-auto px-4 py-2 rounded-8px flex items-center justify-between gap-4 bg-success shadow-elevation1">
  <p class="text-left text-f12-l18 text-white font-semibold line-clamp-2">{{message}}</p>
  <button 
    type="button"
    class="w-full h-full min-w-24px max-w-24px min-h-24px max-h-24px"
    (click)="onClose()"
  >
    <img src="/assets/img/svg/close-white-24.svg" alt="">
  </button>
</div>
<div *ngIf="type === 'warning'" class="w-full h-auto px-4 py-2 rounded-8px flex items-center justify-between gap-4 bg-warning shadow-elevation1">
  <p class="text-left text-f12-l18 text-white font-semibold line-clamp-2">{{message}}</p>
  <button 
    type="button"
    class="w-full h-full min-w-24px max-w-24px min-h-24px max-h-24px"
    (click)="onClose()"
  >
    <img src="/assets/img/svg/close-white-24.svg" alt="">
  </button>
</div>
<div *ngIf="type === 'danger'" class="w-full h-auto px-4 py-2 rounded-8px flex items-center justify-between gap-4 bg-danger shadow-elevation1">
  <p class="text-left text-f12-l18 text-white font-semibold line-clamp-2">{{message}}</p>
  <button 
    type="button"
    class="w-full h-full min-w-24px max-w-24px min-h-24px max-h-24px"
    (click)="onClose()"
  >
    <img src="/assets/img/svg/close-white-24.svg" alt="">
  </button>
</div>
<div *ngIf="!type" class="w-full h-auto px-4 py-2 rounded-8px flex items-center justify-between gap-4 bg-primary shadow-elevation1">
  <p class="text-left text-f12-l18 text-white font-semibold line-clamp-2">{{message}}</p>
  <button 
    type="button"
    class="w-full h-full min-w-24px max-w-24px min-h-24px max-h-24px"
    (click)="onClose()"
  >
    <img src="/assets/img/svg/close-white-24.svg" alt="">
  </button>
</div>