<div *ngIf="!isLoading" class="w-full h-full flex flex-col items-start justify-start gap-20px p-20px">
  <app-snackbar
    *ngIf="showSnackbar"
    [type]="snackbarType"
    [message]="snackbarMessage"
    (actionClose)="toggleShowSnackbar()"
  ></app-snackbar>
  <div class="w-full h-auto">
    <p class="text-left text-f20-l30 font-bold line-clamp-1 text-black">Dashboard</p>
  </div>
  <div class="w-full h-auto flex flex-col items-start justify-start gap-20px">
   <app-button-with-icon
    [iconUrl]="'/assets/img/svg/add-white-24.svg'"
    [label]="'Add Employee'"
    (action)="onClickAddEmployee()"
   ></app-button-with-icon>
   <div class="w-full h-auto flex flex-col items-start justify-start gap-10px">
    <div class="w-full h-auto flex flex-col items-center justify-between gap-10px md:flex-row">
      <form class="w-full h-auto flex flex-col items-start justify-start gap-1" [formGroup]="searchEmployeeByNameForm" (ngSubmit)="onFilterEmployeeByName()">
        <label for="searchByName" class="font-semibold text-f12-l18 line-clamp-1">Name</label>
        <input 
          id="searchByName"
          type="search"
          class="w-full h-full min-h-44px max-h-44px rounded-8px border-1px bg-white border-primary px-4 text-f12-l18 text-black focus:outline-none focus-within:outline-none overflow-hidden"
          placeholder="Search employee name..."
          formControlName="employeeName"
          (input)="onChangeFilterEmployeeByName()"
        >
      </form>
      <form class="w-full h-auto flex flex-col items-start justify-start gap-1" [formGroup]="searchEmployeeByEmail" (ngSubmit)="onFilterEmployeeByEmail()">
        <label for="searchByEmail" class="font-semibold text-f12-l18 line-clamp-1">Email</label>
        <input 
          id="searchByEmail"
          type="search"
          class="w-full h-full min-h-44px max-h-44px rounded-8px border-1px bg-white border-primary px-4 text-f12-l18 text-black focus:outline-none focus-within:outline-none overflow-hidden"
          placeholder="Search employee email..."
          formControlName="employeeEmail"
          (input)="onChangeFilterEmployeeByEmail()"
        >
      </form>
      <app-basic-salary-sort
        label="Basic Salary Sort:"
        [sort]="meta.sortBy"
        (selectedOptionId)="onSortEmployeeDataList($event)"
      ></app-basic-salary-sort>
    </div>
    <div class="w-full h-auto rounded-8px overflow-hidden shadow-elevation1">
      <div class="overflow-x-auto">
        <table class="w-full h-auto border-collapse border-spacing-0">
          <thead class="bg-primary">
            <tr class="w-full h-auto px-10 py-5 flex items-center justify-start gap-20px">
              <th class="w-full h-auto min-w-150px text-left text-f12-l18 text-white font-semibold line-clamp-1">Name</th>
              <th class="w-full h-auto min-w-150px text-left text-f12-l18 text-white font-semibold line-clamp-1">Email</th>
              <th class="w-full h-auto min-w-150px text-left text-f12-l18 text-white font-semibold line-clamp-1">Birth Date</th>
              <th class="w-full h-auto min-w-150px text-left text-f12-l18 text-white font-semibold line-clamp-1">Basic Salary</th>
              <th class="w-full h-auto min-w-150px text-left text-f12-l18 text-white font-semibold line-clamp-1">Status</th>
              <th class="w-full h-auto min-w-150px text-left text-f12-l18 text-white font-semibold line-clamp-1">Group</th>
              <th class="w-full h-auto min-w-150px text-left text-f12-l18 text-white font-semibold line-clamp-1">Description</th>
              <th class="w-auto h-auto min-w-380px text-center text-f12-l18 text-white font-semibold line-clamp-1">Action</th>
            </tr>
          </thead>
          <app-table-loading *ngIf="tableLoading" [colspan]="8"></app-table-loading>
          <tbody *ngIf="!tableLoading && employeeData.totalDocs > 0">
            <tr 
              *ngFor="let data of employeeData.docs"
              class="w-full h-auto px-10 py-5 flex items-center justify-start border-b-1px border-disabled gap-20px"
            >
              <td class="w-full h-auto min-w-150px text-left text-f12-l18 text-black font-semibold line-clamp-1">{{ data && data.firstName || '-' }}</td>
              <td class="w-full h-auto min-w-150px text-left text-f12-l18 text-black font-semibold line-clamp-1">{{ data && data.email || '-' }}</td>
              <td class="w-full h-auto min-w-150px text-left text-f12-l18 text-black font-semibold line-clamp-1">{{ dateFormatter(data && data.birthDate) }}</td>
              <td class="w-full h-auto min-w-150px text-left text-f12-l18 text-black font-semibold line-clamp-1">{{ salaryCurrencyFormatter(data && data.basicSalary || 0) || '-' }}</td>
              <td class="w-full h-auto min-w-150px text-left text-f12-l18 text-black font-semibold line-clamp-1">
                <app-status-label [status]="data && data.status"></app-status-label>
              </td>
              <td class="w-full h-auto min-w-150px text-left text-f12-l18 text-black font-semibold line-clamp-1">{{ data && data.group || '-' }}</td>
              <td class="w-full h-auto min-w-150px text-left text-f12-l18 text-black font-semibold line-clamp-1">{{ data && data.description || '-' }}</td>
              <td class="w-auto h-auto min-w-380px flex flex-nowrap items-center justify-center gap-10px">
                <app-button 
                  [label]="'View Detail'"
                  [class]="'w-full h-auto px-10px py-5px rounded-8px bg-primary text-center text-f12-l18 text-white font-semibold shadow-elevation1 whitespace-nowrap'"
                  (action)="onClickViewDetailEmployee(data && data._id)"
                ></app-button>
                <app-button 
                  [label]="'Edit'"
                  [class]="'w-full h-auto px-10px py-5px rounded-8px bg-warning text-center text-f12-l18 text-white font-semibold shadow-elevation1 whitespace-nowrap'"
                  (action)="onClickEditEmployee(data && data._id)"
                  ></app-button>
                  <app-button 
                  [label]="'Delete'"
                  [class]="'w-full h-auto px-10px py-5px rounded-8px bg-danger text-center text-f12-l18 text-white font-semibold shadow-elevation1 whitespace-nowrap'"
                  (action)="onClickDeleteEmployee(data && data._id)"
                ></app-button>
              </td>
            </tr>
          </tbody>
          <app-table-empty-data *ngIf="!tableLoading && employeeData.totalDocs < 1"></app-table-empty-data>
        </table>
      </div>
      <app-pagination
        *ngIf="!tableLoading"
        [startPage]="meta.page"
        [totalData]="employeeData.totalDocs"
        [limitPage]="meta.limit"
        (changePage)="changePage($event)"
        (changeLimit)="changeLimit($event)"
      ></app-pagination>
    </div>
   </div>
  </div>
</div>

<app-confirmation-modal-box  
  *ngIf="showConfirmationDeleteEmployeeModalBox"
  [message]="'Are you sure delete this data ?'"
  [cancelButtonLabel]="'Cancel'"
  [confirmButtonLabel]="'Delete'"
  [isLoadingConfirmAction]="deleteEmployeeLoading"
  (cancel)="closeConfirmationDeleteEmployeeModalBox()"
  (confirm)="confirmDeleteEmployee()"
/>