<div class="w-full h-full flex flex-col items-center justify-center px-20px pt-150px pb-20px gap-30px max-w-360px mx-auto">
  <img src="/assets/img/svg/undraw-engineering-team.svg" alt="Undraw engineering logo" loading="lazy">
  <form class="w-full h-auto flex flex-col items-center justify-center gap-20px" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="w-full h-auto flex flex-col items-center justify-center gap-15px">
      <div class="w-full h-auto flex flex-col items-start justify-start gap-1">
        <label for="username" class="font-semibold text-f12-l18 line-clamp-1">Username <span class="text-red-500">*</span></label>
        <input 
          id="username" 
          type="text" 
          class="w-full h-full min-h-44px max-h-44px rounded-8px border-1px border-primary px-4 text-f12-l18 focus:outline-none focus-within:outline-none" 
          placeholder="Your username..."
          formControlName="username"
        >
        <p 
          *ngIf="loginForm.hasError('required', 'username') && loginForm.controls['username'].dirty" 
          class="text-left text-f12-l18 text-red-500 line-clamp-1"
        >Username is required</p>
      </div>
      <div class="w-full h-auto flex flex-col items-start justify-start gap-1">
        <label for="password" class="font-semibold text-f12-l18 line-clamp-1">Password <span class="text-red-500">*</span></label>
        <div class="w-full h-full min-h-44px max-h-44px rounded-8px border-1px border-primary flex items-center justify-between overflow-hidden pr-4">
          <input 
            id="password" 
            [type]="showPassword ? 'text' : 'password'" 
            class="w-full h-full min-h-44px max-h-44px rounded-8px px-4 text-f12-l18 focus:outline-none focus-within:outline-none"
            placeholder="Your password..." 
            formControlName="password"
          >
          <button 
            type="button" 
            (click)="toggleShowPassword()" 
            class="w-full h-full min-w-24px max-w-24px min-h-24px max-h-24px focus:outline-none focus-within:outline-none"
          >
            <img *ngIf="showPassword" src="/assets/img/svg/visibility-on-primary-24.svg" alt="Visibility off icon" loading="lazy" class="w-full h-full min-w-24px max-w-24px min-h-24px max-h-24px">
            <img *ngIf="!showPassword" src="/assets/img/svg/visibility-off-primary-24.svg" alt="Visibility off icon" loading="lazy" class="w-full h-full min-w-24px max-w-24px min-h-24px max-h-24px">
          </button>
        </div>
        <p 
          *ngIf="loginForm.hasError('required', 'password') && loginForm.controls['password'].dirty" 
          class="text-left text-f12-l18 text-red-500 line-clamp-1"
        >Password is required</p>
      </div>
    </div>
    <div class="w-full h-auto">
      <app-button 
        [type]="'submit'"
        [label]="'Login'"
        [disabled]="loginForm.invalid || loginLoading"
        [isLoading]="loginLoading"
        [class]="loginForm.invalid || loginLoading ? 'w-full h-full min-h-44px max-h-44px rounded-8px flex items-center justify-center gap-5px text-white font-semibold text-f12-l18 shadow-elevation1 bg-disabled cursor-not-allowed' : 'w-full h-full min-h-44px max-h-44px rounded-8px flex items-center justify-center gap-5px text-white font-semibold text-f12-l18 shadow-elevation1 bg-primary cursor-pointer'"
      />
    </div>
  </form>
  <app-snackbar 
    *ngIf="showSnackbar" 
    [type]="snackbarType" 
    [message]="snackbarMessage" 
    (actionClose)="showSnackbar = false"
  ></app-snackbar>
</div>