<p *ngIf="status === 'Active'" class="w-full text-center text-f12-l18 text-white font-semibold bg-success rounded-full">{{ status }}</p>
<p *ngIf="status === 'Inactive'" class="w-full text-center text-f12-l18 text-white font-semibold bg-danger rounded-full">{{ status }}</p>
<p *ngIf="!status" class="w-full text-center text-f12-l18 text-white font-semibold bg-primary rounded-full">Status</p>

